{% extends 'base.html' %}

{% block header %}
  <!-- link to go back to server page -->
  <a href="{% url 'ticket_list_view' %}">Return to server portal</a>
  <a href="{% url 'order_create_view' ticket.id %}">Add food item</a>
{% endblock %}

{% block body %}

  <h1>Ticket detail</h1>

{% for item in object_list %}
  <h4>{{ item }}</h4>
  <blockquote cite="">
    {{ item.notes }}
    {{ item.price }}
  </blockquote>
  <hr>
{% endfor %}

<form class="" action="{% url 'ticket_update_view' ticket.id %}" method="post">
  {% csrf_token %}
  <input type="submit" name="name" value="Submit Ticket">
</form>

{% endblock %}
