{% extends 'base.html' %}

{% block body %}
<h1>All Tickets that need to be cooked:</h1>
<!-- refresh every 10secs to see if there is any new ticket from server user -->
<meta http-equiv="refresh" content="10">

<!-- button creates a new ticket -->

<!-- Iterate over all tickets & link to detail page -->
{% for ticket in object_list %}
  <button class="btn btn-default btn-info"type="button" name="button">
     <a href="{% url 'ticket_detail_view' ticket.id %}"><h2>Ticket # {{ ticket }}</h2></a>
  </button>
{% endfor %}

{% endblock %}
