{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Here are your Open Tickets:</h1>
<!-- refresh page every 10 secs to see if a ticket is ready on Kitchen -->
<meta http-equiv="refresh" content="10">

<!-- button creates a new ticket -->
<form class="" action="{% url 'ticket_create_view' %}" method="post">
  {% csrf_token %}
  <input class="btn btn-primary btn-lg" type="submit" name="" value="Create New Ticket">
</form>
<!-- Iterate over all tickets & link to detail page -->
{% for ticket in object_list %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="col-md-4" href="{% url 'ticket_detail_view' ticket.id %}">
        <div class="panel-title">
          <h3>Ticket # {{ ticket }}</h3>
        </div>
      </a>
      <h3 class="col-md-4">
        Total ${{ ticket.total }}
      </h3>
      <form class="" action="{% url 'ticket_paid' ticket.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-success btn-md" type="submit" name="" value="Payment Recieved" onclick="clicked(event)">
        <!-- Confirm Payment cause sometimes you can accidentaly click on button-->
        <script>
        function clicked(e)
        {if(!confirm('Are you Sure?'))e.preventDefault();}
        </script>
      </form>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
          <!-- Panel looks green if the ticket was sent to Kitchen -->
          {% if ticket.is_placed == True %} <div class="panel panel-success"> {% else %} <div class="panel panel-primary"> {% endif %}
          <div class="panel-heading">
            <h3 class="panel-title">Ticket sent to Kitchen</h3>
          </div>
          <div class="panel-body">
            {% if ticket.is_placed == True %}YES{% else %}NO{% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <!-- Panel looks green if food is ready to serve -->
          {% if ticket.is_completed == True %} <div class="panel panel-success"> {% else %} <div class="panel panel-warning"> {% endif %}
          <div class="panel-heading">
            <h3 class="panel-title">Food ready to serve</h3>
          </div>
          <div class="panel-body">
            {% if ticket.is_completed == True %}YES{% else %}NO{% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
         <!-- Panel looks red while ticket is not paid. -->
          {% if ticket.is_paid == True %} <div class="panel panel-success"> {% else %} <div class="panel panel-danger"> {% endif %}
          <div class="panel-heading">
            <h3 class="panel-title">Ticket has been paid</h3>
          </div>
          <div class="panel-body">
            {% if ticket.is_paid == True %}YES{% else %}NO{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}
