{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
  </head>

  <body>
    <div class="container">
      <!-- nav bar -->
      <ul class="nav nav-pills">
        <li role="presentation"><a href="{% url 'index_view' %}">Home</a></li>
        {% if not request.user.is_authenticated %}
          <li role="presentation"><a href="{% url 'user_create_view' %}">Create User</a></li>
          <li role="presentation"><a href="{% url 'login' %}">Login</a></li
        {% else %}
          <li role="presentation"><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
        {% endif %}
      </ul>
      <!-- User infor & profile link -->
      {% if request.user.is_authenticated %}
        <p>
          Welcome {{ request.user }}, <a href="{% url 'profile_update_view' %}">Update Profile</a>
        </p>
      {%  endif %}
      {% if request.user.profile.is_owner %}
        <a href="{% url 'food_create_view' %}">Create new Food Item</a>
      {% endif %}
      <!-- Page Title -->
      <div style="height:50px"></div>
      <h1>Restaurant POS</h1>
      <div style="height:50px"></div>

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
