{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Here are your Open Tickets:</h1>

<!-- button creates a new ticket -->
<form class="" action="{% url 'ticket_create_view' %}" method="post">
  {% csrf_token %}
  <input class="btn btn-primary btn-lg" type="submit" name="" value="Create New Ticket">
</form>
<!-- Iterate over all tickets & link to detail page -->
{% for ticket in object_list %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="col-md-4" href="{% url 'ticket_detail_view' ticket.id %}">
        <div class="panel-title">
          <h3>Ticket # {{ ticket }}</h3>
        </div>
      </a>
      <h3 class="col-md-4">
        Total ${{ ticket.total }}
      </h3>
      <form class="" action="{% url 'ticket_paid' ticket.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-success btn-md" type="submit" name="" value="Payment Recieved">
      </form>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ticket sent to Kitchen</h3>
          </div>
          <div class="panel-body">
            {{ ticket.is_placed }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Food ready to serve</h3>
          </div>
          <div class="panel-body">
            {{ ticket.is_completed }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ticket has been paid</h3>
          </div>
          <div class="panel-body">
            {{ ticket.is_paid }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}
